@media print {

    body {
        background: white;
    }


    *{
        color: black;
        background-image: none;
    }

    * {
        box-shadow: none;
        border: none;
    }
}